{% include 'base.html' %}
{% include 'navbar.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'boilerplate_v1_0/loginpage.css' %}">

<div class="login-page">
    <div class="container">
        <p class="heading">Login</p>

        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="input-section">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="input-section">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <input type="submit" value="Login" class="login-btn">
        </form>

        <div class="links">
            <a href="{% url 'password_reset' %}" class="reset-password-link">Reset password</a>
            <a href="{% url 'register' %}" class="register-link">Register</a>
        </div>

    </div>
</div>

{% endblock %}