{% include 'base.html' %}
{% include 'navbar.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'boilerplate_v1_0/password_reset_form.css' %}">

<div class="password-reset-page">
    <div class="container">
        <p class="heading">Reset Password</p>

        <form method="post" class="reset-form">
            {% csrf_token %}
            <div class="input-section">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <input type="submit" value="Reset" class="login-btn">
        </form>

        <div class="links">
            <a href="{% url 'home' %}" class="reset-password-link">Back to Home</a>
        </div>

    </div>
</div>

{% endblock %}